:host ::ng-deep .p-cell-editing {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

th {
  text-align: left;
  width: max-content;
}

td {
  text-align: left;
  width: max-content;
}

p-table{
  min-width: 50rem;
}
