<div>
  <h3>Landing Page</h3>
</div>
<div class="container">
  <a routerLinkActive="active" routerLink="/prime/shared/table">Table</a> &nbsp;|&nbsp;
  <a routerLinkActive="active" routerLink="">Home</a> &nbsp;|&nbsp;
  <a routerLinkActive="active" routerLink="#">Catalog</a> &nbsp;|&nbsp;
  <a routerLinkActive="active" routerLink="/prime/shared/simple-counter">Counter Example</a>&nbsp;|&nbsp;
  <a routerLinkActive="active" routerLink="/prime/shared/d3-charts">D3 Charts</a>&nbsp;|&nbsp;
  <br />
  <router-outlet></router-outlet>
</div>